/* btn style start  */

.btn {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: var(--main-color);
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.btn span {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 2;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 5px;
    z-index: 1;
    transition: transform .5s ease;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 5px;
    z-index: 0;
    transition: all .5s ease;
    transform: scale(0.9);
}

.btn:hover::after {
    transform: translate(8px, 8px);
}

/* btn style end */
