/* scroll top button start  */

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(70px);
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* scroll top button end */
