/* contact section start  */

.contact {
    padding: 50px 30px;
}

.contact .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    gap: 50px;
}

.contact-info-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-accent);
    color: #fff;
}

.contact-info-row .contact-info-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-row .contact-info-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info-row .contact-info-content h4 {
    font-size: 20px;
}

.contact-form {
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 10px;
}

.contact-form h3 {
    margin-bottom: 20px;
    font-size: 25px;
    text-transform: capitalize;
}

.contact-row {
    position: relative;
    margin-bottom: 20px;
}

.contact-row input {
    width: 100%;
    min-height: 50px;
    padding: 15px 50px 15px 15px;
    border-radius: 5px;
}

.contact-row i {
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--main-color);
}

.contact-row textarea {
    width: 100%;
    padding: 15px 50px 15px 15px;
    resize: none;
}

.contact-row-icon i {
    top: 15px;
    bottom: unset;
}

/* contact section end */
