/* products section start  */

.products {
    padding: 75px 30px;
}

.products .section-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    padding: 70px;
    background-color: var(--color-surface);
    border-radius: 10px;
}

.products-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 25px;
}

.products-items .product-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--color-bg);
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

.products-items .product-item .product-item-head {
    position: relative;
    overflow: hidden;
}

.products-items .product-item .product-item-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-radius: 5px 5px 0px 0px;
    transition: all .5s;
}

.products-items .product-item:hover img {
    transform: scale(1.1);
}

.products-items .product-item .product-item-head .price {
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 3;
    padding: 8px 15px;
    background-color: var(--color-accent);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.products-items .product-item .product-item-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 12px;
}

.products-items .product-item .product-item-body h3 {
    text-transform: capitalize;
    font-size: 20px;
}

.products-items .product-item .product-item-body .product-item-stars {
    color: orange;
    font-size: 17px;
}

/* products section end */
