* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--color-bg);
    font: 14px 'Poppins', sans-serif;
}
